@page "/"
@using TheVoidOfficial2.Logic.Database;
@using TheVoidOfficial2.Visual.Modules;
@inject IJSRuntime JS;
@*@inject AuthenticationStateProvider _state*@

<ContentPresenter>
    <pageContent1>
        <TextComponent @ref="textComponent" _dialog="@_dialog" >
    
        </TextComponent>

        <br />
        <br />
        <br />
        <br />
    <div id="nav" style="opacity:0" class="Nav">
       <a> LOGIN </a>
          <label> || </label>
       <a> JOIN </a>
          <label> || </label>
       <a > MARKET </a>
          <label> || </label>
       <a> STREAMS </a>
    </div>
    <br />
    <br />
    </pageContent1>
</ContentPresenter>

@code
{
    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationStateTask { get; set; }

    string _dialog = "Welcome to the void..... << Proceed to one of the following options,";

    TextComponent textComponent;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateTask;
        // var user = await _state.GetAuthenticationStateAsync();
        var user = authState.User;
        if (user.Identity.IsAuthenticated) { _dialog = $"Welcome back to the void,{user.Identity.Name}  << Enjoy :),"; }

        await base.OnInitializedAsync();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        textComponent.DialogFished += DialogFinished;
        base.OnAfterRender(firstRender);
    }

    private void DialogFinished(object sender, EventArgs e)
    {
        
        var x = new Action(async() => 
        { 
            await JS.InvokeVoidAsync("animationFade", "nav"); 
        });

        x.Invoke();

        
        Console.WriteLine("Process Completed!1");
    }

}
    