


 <div style="width: 100%; max-height:840px; height:auto;   display: flex; flex-wrap: wrap;   
 gap: 10px; top:250px; position:relative; " id="productFlow">

@for(int x =0; x<8; x++)
    {
        
    <div style=" background-color: rgb(0,0,0,0.5); border-style: solid; border-color: 51749f; border-width: 0.5px;  flex-flow:wrap; position: relative; width:180px;">
            <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ffreepngimg.com%2Fdownload%2Fportal%2F27619-7-portal-image.png&f=1&nofb=1" style=" position: relative;  width: 180px; height:  180px;"/>
            <div style="margin: 5px;">
                <div class="productTitle" style="color: #423de6;  font-size: 15px;">
                        Amazing Island Buy Now funky island please buys
                </div>
                <div style="margin-top:4%;">
                        <image src="Star.svg" style="width: 15%;  position: relative;"></image>
                        <image src="Star.svg" style="width: 15%;  position: relative; left: -2%;"></image>
                        <image src="Star.svg" style="width: 15%;  position: relative; left: -4%;"></image>
                        <image src="Star.svg" style="width: 15%;  position: relative; left: -6%;"></image>
                        <image src="Star.svg" style="width: 15%;  position: relative; left: -8%;"></image>
                </div>
                <div style="font-size: 28; text-align: center;  margin-top: 4%; color: #aa670e" > 
                    £11.24
                </div>
             </div>
        </div> 
    }


       

</div>

@code {

}
