
@using TheVoidOfficial2.Pages.SideModules
@inject IJSRuntime JS;

<ContentPresenter>
    <pageContent1>
       <div  id="overPannel" style=" position:relative; ">

       </div>  
       <div  id="container" style="  position: absolute; left:-50%; top:25%;">
      </div>
      <div  id="container2" style="  position: absolute; left:70%; bottom:-15%;">
      </div>

      <ProductFlow></ProductFlow>

    </pageContent1>
   @* display: grid;  justify-content:space-evenly; align-items: center;*@
    <HeaderContent>
        <div id="main" style="width:100%;  height:100%; position:relative;  display: flex;  justify-content:space-evenly; align-items: center; ">

            
        </div>
    </HeaderContent>
</ContentPresenter>

      


@code {
   
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("summonPageBar");
            await JS.InvokeVoidAsync("createSpinner", 6,"container");
            await JS.InvokeVoidAsync("createSpinner", 4,"container2");
            await JS.InvokeVoidAsync("firstCall");
        }
    }
}
