

<div class="content">

     @PageContent

</div>



@code {

    private RenderFragment PageContent { get; set; }
    //pageContent will be displayed by defaul
    [Parameter]
    public RenderFragment Page { get; set; }

    [Parameter]
    public RenderFragment Page1 { get; set; }

    [Parameter]
    public RenderFragment Page2 { get; set; }

    [Parameter] 
    public RenderFragment HeaderContent { get; set; }

    protected override void OnInitialized()
    {
        PageContent = Page;
        base.OnInitialized();
    }

    public void SwitchContent(PageContentEnum.PageContent i)
    {
        switch (i)
        {
            case PageContentEnum.PageContent.page1:
                PageContent = Page;
                break;
            case PageContentEnum.PageContent.page2:
            PageContent = Page1;
                break;
        } 
    }

}
